---
layout: category
permalink: /highlights/
title: དབུ་འཕང་ཡར་བསྟོད་བོད་ཀྱི་སྐྱེས་མ།
archive: བོད་ཀྱི་སྐྱེས་མའི་དབུ་འཕང་ཡར་བསྟོད།
---


<section class="grid-3">
      {% for post in site.categories.highlights limit: 10 %}
      {% if post.draft == false %}
        <div class="card">
            <a href="{{post.url | absolute_url}}">
                <img src="{{post.featuredImage}}" alt="featuredImage">
                <h1>{{post.title}}</h1>
                <p>{{post.excerpt}}</p>
                
            </a>
            <div class="card-meta"><span>{{post.date | date_to_string }}</span><span>{{post.category}}</span></div>
            <div class="flag">
                <div class="blue"> </div>
                <div class="white"> </div>
                <div class="red"> </div>
                <div class="yellow"> </div> 
                <div class="green"> </div>    
              </div>
        </div>
        {% endif %}
      {% endfor %} 
    </section>