---
layout: category
permalink: /online-space/
title: འཇིག་ཉེན་ཀུན་བྲལ་དྲ་རྒྱའི་འཇིག་རྟེན།
archive: དྲ་རྒྱའི་འཇིག་རྟེན་འཇིག་ཉེན་ཀུན་བྲལ།
---


<section class="grid-3">
      {% for post in site.categories.online-space limit: 10 %}
      {% if post.draft == false %}
        <div class="card">
            <a href="{{post.url | absolute_url}}">
                <img src="{{post.featuredImage}}" alt="{{post.featuredImage}}">
                <h1>{{post.title}}</h1>
                <p>{{post.excerpt}}</p>
               
            </a>
           <div class="card-meta"><span>{{post.date | date_to_string }}</span><span>{{post.category}}</span></div>
            <div class="flag">
                <div class="blue"> </div>
                <div class="white"> </div>
                <div class="red"> </div>
                <div class="yellow"> </div> 
                <div class="green"> </div>    
              </div>
        </div>
        {% endif %}
      {% endfor %} 
    </section>